# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

.cproject

src/jeugddagcli
*.libs
*.deps
*Makefile
*Makefile.in
*configure.in
*configure
config.h.*
config.guess
config.status
config.log
config.sub
